In [2]:
import pandas as pd

In [3]:
import csv

In [6]:
variation_test_csv = pd.read_csv('csv_files/df_final_experiment_clients.txt')

In [7]:
variation_test_csv.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [14]:
footprint1_csv = pd.read_csv('csv_files/df_final_web_data_pt_1.txt')

In [15]:
footprint1_csv.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [21]:
footprint2_csv.shape

(412264, 5)

In [16]:
footprint2_csv = pd.read_csv('csv_files/df_final_web_data_pt_2.txt')

In [17]:
footprint2_csv.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [12]:
customer_csv = pd.read_csv('csv_files/df_final_demo.txt')

In [13]:
customer_csv.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [22]:
footprint_csv = pd.concat([footprint1_csv, footprint2_csv], ignore_index=True)

In [23]:
footprint_csv.shape

(755405, 5)

In [26]:
footprint_csv["process_step"].value_counts()

process_step
start      243945
step_1     163193
step_2     133062
step_3     112242
confirm    102963
Name: count, dtype: int64

In [27]:
process_replace = {"start": 0, "step_1": 1, "step_2": 2, "step_3": 3, "confirm": 4}

In [28]:
footprint_csv["process_step"]= footprint_csv["process_step"].replace(process_replace)

C:\Users\greta\AppData\Local\Temp\ipykernel_46632\3095718887.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  footprint_csv["process_step"]= footprint_csv["process_step"].replace(process_replace)

In [29]:
footprint_csv["process_step"].value_counts()

process_step
0    243945
1    163193
2    133062
3    112242
4    102963
Name: count, dtype: int64

In [31]:
variation_test_csv["Variation"].value_counts()

Variation
Test       26968
Control    23532
Name: count, dtype: int64

In [32]:
variation_replace = {"Test": 1, "Control": 0}

In [33]:
variation_test_csv["Variation"]= variation_test_csv["Variation"].replace(variation_replace)

C:\Users\greta\AppData\Local\Temp\ipykernel_46632\1689626888.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  variation_test_csv["Variation"]= variation_test_csv["Variation"].replace(variation_replace)

In [34]:
variation_test_csv["Variation"].value_counts()

Variation
1.0    26968
0.0    23532
Name: count, dtype: int64